.qqtip{
    position: absolute;
    width: 180px;
    height: 90px;
    background: #000;
    margin: 0px 10px;
}

.qqtip2{
    position: absolute;
    width: 180px;
    height: 90px;
    background: #000;
    margin: 0px 10px;
    
}

.qqtip3{
    position: absolute;
    width: 180px;
    height: 90px;
    background: #000;
    margin: 0px 10px;
    
}

.qqtip4{
    position: absolute;
    width: 180px;
    height: 90px;
    background: #00F;
    margin: 0px 10px;
    
}